.user-png{
width: 20px;
height: 20px;
}
.navbar-brand{
    color:lightcoral;
    font-size:25px;
    font-weight: bold;
}
.btn-nav{
background-color: lightcoral;
border-radius: 5px;
color:white !important;
 font-weight: bold;

}