.signup{
    width:100%;
    height:100vh;
}
.column{
    height: 100vh;
}
.input-signup{
    outline: none;
   
}
.sign-heading{
    font-size: 100px;
 color:lightcoral;
 opacity: 0.8;
}

.btn-signup{

    background-color: lightcoral;
    color:white !important;
    outline: none;
    border: none;
}

